html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background: #000 url('../img/table.jpg') 50% 50%  no-repeat fixed;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 1000px;
    min-height: 1000px;
/*    background: #000;*/
    padding: 50px;
/*    border-radius: 10px;*/
/*    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
/*    margin: 0 0 3em;*/
    perspective: 2000px;
}


.deck .card {
    height: 200px;
    width: 200px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px 0 rgba(46, 61, 73, 0.2);

    transition: transform 0.5s;
    transform-style: preserve-3d;

}

.deck .card.open {
  transform: rotateY(180deg);
  cursor: default;
}


/*.deck .card:hover {
    transform: rotateY(180deg);

}
*/

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;

}

.deck .card .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
}

.deck .card .back {

    background: #000 url('../img/back.svg');
    border-radius: 5px;
}

.deck .card .front {
    background: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

/*
 * Font Backgrounds
 */

.deck .card .bodoni {
    background: #fff url('../img/bodoni.svg') 100% no-repeat;
}

.deck .card .carol_gothic {
    background: #fff url('../img/carol_gothic.svg') 100% no-repeat;
}

.deck .card .futura {
    background: #fff url('../img/futura.svg') 100% no-repeat;
}

.deck .card .karolla {
    background: #fff url('../img/karolla.svg') 100% no-repeat;
}

.deck .card .pragmatica {
    background: #fff url('../img/pragmatica.svg') 100% no-repeat;
}

.deck .card .liberteen {
    background: #fff url('../img/liberteen.svg') 100% no-repeat;
}

.deck .card .olga_script {
    background: #fff url('../img/olga_script.svg') 100% no-repeat;
}

.deck .card .lazurski {
    background: #fff url('../img/lazurski.svg') 100% no-repeat;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

