html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background: #f5f5f5 url('../img/table.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
    font-family: 'Arial', san-serif;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4.55em;
    font-family: 'Bungee Outline', cursive;
    color: #fff;
    background-color: #000;
    padding: 0 20px 0 20px;
}

.orange {
   color: #FD8724; 
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 1000px;
    min-height: 1000px;
/*    background: #000;*/
    padding: 0 40px 0  40px;
/*    border-radius: 10px;*/
/*    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
/*    margin: 0 0 3em;*/
    perspective: 2000px;
}


.deck .card {
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px 0 rgba(46, 61, 73, 0.5);

    transition: transform 0.5s;
    transform-style: preserve-3d;

}

.open {
    transform: rotateY(180deg);
    cursor: default;
}


/*.deck .card:hover {
    transform: rotateY(180deg);

}
*/

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;

}

.deck .card .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
}

.deck .card .front {
    background: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.deck .card .back {
    background: #000 url('../img/back.svg');
    border-radius: 5px;
}

.deck .card .back:after {
    content: "";
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    border-radius: 5px;
    background:rgba(0,0,0,0.7);
    opacity: 1;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.deck .card:hover .back:after{
    opacity: 0;
}



/*
 * Font Backgrounds
 */

.deck .card .bodoni {
    background: #fff url('../img/bodoni.svg') 100% no-repeat;
}

.deck .card .carol_gothic {
    background: #fff url('../img/carol_gothic.svg') 100% no-repeat;
}

.deck .card .futura {
    background: #fff url('../img/futura.svg') 100% no-repeat;
}

.deck .card .karolla {
    background: #fff url('../img/karolla.svg') 100% no-repeat;
}

.deck .card .pragmatica {
    background: #fff url('../img/pragmatica.svg') 100% no-repeat;
}

.deck .card .liberteen {
    background: #fff url('../img/liberteen.svg') 100% no-repeat;
}

.deck .card .olga_script {
    background: #fff url('../img/olga_script.svg') 100% no-repeat;
}

.deck .card .lazurski {
    background: #fff url('../img/lazurski.svg') 100% no-repeat;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    font-size: 1.3em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 7px 0 0;

}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    font-size: 1.8em;
 /*   color: #FD8724;*/
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    font-size: 1.8em;
}

footer {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 3em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
}

footer a:hover {
    color: #FD8724;
}
